<app-modal-container  (btn)="submitFormEditOrder()" title="Edit Order" btnText=" Edit Order">

  <form class="order-edit" [formGroup]="form">
    <p>Order No</p>
    <mat-form-field appearance="outline">
      <input formControlName="orderNo" matInput placeholder="Order No">
    </mat-form-field>

    <p>Customer</p>
    <mat-form-field appearance="outline">
      <mat-select (selectionChange)="sel($event)" formControlName="customerId">
        <div class="inp"><input (keyup)="onKey($event.target.value)"></div>
        <mat-option disabled [value]="rowData.customerId">Change Customer</mat-option>
        <mat-option *ngFor="let state of selectedCustomers" [value]="state">{{ state.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="disabled-input" appearance="outline">
      <input  readonly formControlName="customer" matInput placeholder="Name Customer">
    </mat-form-field>
    <mat-form-field class="disabled-input" appearance="outline">
      <input readonly formControlName="customerNo" matInput placeholder="No Customer">
    </mat-form-field>

    <p>items</p>
    <mat-form-field appearance="outline">
      <input formControlName="items" matInput placeholder="items">
    </mat-form-field>

    <p>notes</p>
    <mat-form-field appearance="outline">
      <input formControlName="notes" matInput placeholder="notes">
    </mat-form-field>

    <p>status</p>
    <mat-form-field class="disabled-input" appearance="outline">
      <input readonly formControlName="status" matInput placeholder="status">
    </mat-form-field>

    <p>Products List</p>
    <app-chips-add-product [initialProductList]="rowData.productsList" (arrProductIdChanged)="arrProductId($event)"></app-chips-add-product>

    <p>Date Required Delivery</p>
    <mat-form-field appearance="outline">
      <input formControlName="reqDelivery" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </form>

</app-modal-container>
