<app-modal-container  (btn)="submitFormCreateOrder()" title="Add Order" btnText=" + Add Order">

  <form class="order-add" [formGroup]="form">
    <p>Order No</p>
    <mat-form-field appearance="outline">
      <input formControlName="orderNo" matInput placeholder="Order No">
    </mat-form-field>

    <p>Customer</p>
    <mat-form-field appearance="outline">
      <mat-select (selectionChange)="sel($event)" formControlName="customerId">
        <div class="inp"><input (keyup)="onKey($event.target.value)"></div>
        <mat-option disabled value="">Choose Customer</mat-option>
        <mat-option *ngFor="let state of selectedCustomers" [value]="state">{{ state.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="disabled-input" appearance="outline">
      <input  readonly formControlName="customer" matInput placeholder="Name Customer">
    </mat-form-field>
    <mat-form-field class="disabled-input" appearance="outline">
      <input readonly formControlName="customerNo" matInput placeholder="No Customer">
    </mat-form-field>

    <p>items</p>
    <mat-form-field appearance="outline">
      <input formControlName="items" matInput placeholder="items">
    </mat-form-field>


    <p>notes</p>
    <mat-form-field appearance="outline">
      <input formControlName="notes" matInput placeholder="notes">
    </mat-form-field>

    <p>status</p>
    <mat-form-field class="disabled-input" appearance="outline">
      <input readonly formControlName="status" matInput placeholder="status">
    </mat-form-field>

    <p>Products List</p>
    <app-chips-add-product (arrProductIdChanged)="arrProductId($event)"></app-chips-add-product>
    <!-- <mat-form-field appearance="outline">
      <input formControlName="productsList" matInput placeholder="productsList">
    </mat-form-field> -->

  </form>

</app-modal-container>
