
.logo-login {
  padding: 15px 0 0 15px;
}

.custom-overlay {
  background: #f8f8f8;
  height: 100vh;
}

.role-toggle {
  width: max-content;
  margin: 10px auto;
}

.role-toggle button {
  width: 100px;
  margin: 10px 20px;
}

.container-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50vh;
  margin: 5vh auto;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #bbbbbb;
}

.log-in-title {
  padding-top: 20px;
  font-size: 24px;
}

.container-login p {
  width: 100%;
  text-align: center;
}

.valid-input-email {
  color: green;
}

.invalid-input-email {
  color: red;
}

.default-input-email {
  color: #757575;
}

.typing-input-email {
  color: blue;
}

.layout-lable {
  font-size: 14px;
  padding-left: 50px;
  align-self: flex-start;
}

::ng-deep {

  .container-login .mat-form-field-infix {
    border: none;
    padding: 18px 0 14px 0;
  }

  .container-login .mat-form-field-flex {
    min-height: 40px;
  }

  .container-login .mat-dialog-actions {
    padding-bottom: 50px;
    width: calc(100% - 100px);

    button {
      width: 100%;
    }
  }

  @media (max-width: 520px) {
    .container-login .mat-dialog-actions button {
      width: 200px;
    }
    .container-login .mat-form-field-wrapper {
      width: 200px;

    }
  }

}

@media (max-width: 520px) {
  .container-login {
    width: 200px;
  }
}

.link {
  text-decoration: none;
}

.google-btn {
  margin: 25px;
  width: 80%;
  min-width: 184px;
  max-width: 184px;
  height: 42px;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
  cursor: hand;
  align-self: center;
  transition: all 200ms ease 0s;
  display: flex;
}

.google-btn .google-icon-wrapper {
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
}

.google-btn .google-icon-svg {
  margin-top: 8px;
  margin-left: 8px;
}

.google-btn .btn-text {
  color: #4d4d4d;
  font-size: 14px;
  letter-spacing: .2px;
  text-decoration: none !important;
  text-decoration-style: none;
  text-decoration-thickness: none !important;
}

.google-btn:hover {
  box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
}

.google-btn:active {
  box-shadow: 0 1px 1px #757575;
  background: #F8F8F8;
  color: #fff;
}
