.logo-login {
  padding: 15px 0 0 15px;
}

.custom-overlay {
  background: #f8f8f8;
  height: 100vh;
}

.role-toggle {
  width: max-content;
  margin: 10px auto;
}

.role-toggle button {
  width: 100px;
  margin: 10px 20px;
}

.container-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50vh;
  margin:  5vh auto;
  background:#fff;
  border-radius: 5px;
  border: 1px solid #bbbbbb;
  // margin: 15vh auto ;
  // padding: 20px 30px;
}

.log-in-title {
  padding-top: 20px;
  font-size: 24px;
}

.container-login p {
 width: 100%;
 text-align: center;
}

.valid-input-email {
color: green;
}

.invalid-input-email{
color: red;
}

.default-input-email {
color: #757575;
}

.typing-input-email {
color: blue;
}

.layout-lable {
  font-size: 14px;
  padding-left: 50px;
  align-self: flex-start;
}

::ng-deep {

  .container-login .mat-form-field-infix {
    border: none;
    padding: 18px 0 14px 0;
  }

  .container-login .mat-form-field-wrapper {
    width: 400px;

  }
  .container-login .mat-form-field-flex {
    min-height: 40px;
  }

  .container-login .mat-dialog-actions {
    padding-bottom: 50px;
  }

  .container-login .mat-dialog-actions button {
    width: 400px;
  }

  @media (max-width: 520px){
    .container-login .mat-dialog-actions button {
      width: 200px;
    }
    .container-login .mat-form-field-wrapper {
      width: 200px;

    }
  }

}

@media (max-width: 520px){
  .container-login {
    width: 200px;
  }
}
