<div *ngIf="isNew" class="choice-customer-wrapper">
    <h3 class="layout-lable sel-wrapper" >Choose Your Organization</h3>
    <div class="sel-wrapper">
    <mat-form-field appearance="outline" class="register-form-field">
        <mat-select [(ngModel)]="selectedCustomer">
          <mat-option disabled value="">Choose from list</mat-option>
          <mat-option *ngFor="let state of allCustomers" [value]="state._id">{{state.name}}</mat-option>
        </mat-select>
    </mat-form-field>
  </div>
    <button class="btn-assign" mat-raised-button color="primary" (click)="handleClick($event)">Assign Customer</button>
</div>
