
<app-search-form [applyFilter]="applyFilter" [placeholder]="'Product Code, Name...'"></app-search-form>

<div class="btn-absolut-container">
  <button *ngIf="role$ | ngrxPush as role" class="color-btn-txt hidden-customer" [class.hidden-customer]="role === 'customer'" mat-flat-button (click)="addProduct()">
    <mat-icon>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z" fill="#1672EC"/>
        </svg>
    </mat-icon> Add Product
  </button>
  <button mat-flat-button (click)="replaceCatalog()">
    <mat-icon>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13 14.9861C13 15.5384 12.5523 15.9861 12 15.9861C11.4477 15.9861 11 15.5384 11 14.9861V7.82831L7.75724 11.0711L6.34303 9.65685L11.9999 4L17.6567 9.65685L16.2425 11.0711L13 7.82854V14.9861Z" fill="#414141"/>
        <path d="M20 14H18V18H6V14H4V18C4 19.1046 4.89543 20 6 20H18C19.1046 20 20 19.1046 20 18V14Z" fill="#414141"/>
        </svg>
  </mat-icon> Replace Catalog
</button>
</div>

<div class="mat-elevation-z8 table--container">

<table *ngIf="role$ | ngrxPush as role" mat-table [dataSource]="dataSource"  matSort multiTemplateDataRows >

  <ng-container matColumnDef="productCode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Code</th>
    <td (click)="role !== 'customer'? editProduct($event, row) : null" class="edit-cell" mat-cell *matCellDef="let row"> {{ row.productCode }} </td>
  </ng-container>

  <ng-container matColumnDef="product">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let row"> {{ row.product }} </td>
  </ng-container>

  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
    <td mat-cell *matCellDef="let row"> {{ row.unit }} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
    <td mat-cell *matCellDef="let row"> {{ row.price[row.unit] }} </td>
  </ng-container>

  <ng-container matColumnDef="availability">
    <th mat-header-cell *matHeaderCellDef>Availability
      <div class="wrapper-select-available">
        <mat-form-field appearance="outline">
         <mat-select #selectAvailability panelOpen (openedChange)="changeAvailability()" (selectionChange)="togleAvailability()" [(ngModel)]="filterAvailavle"  multiple>
          <mat-option *ngFor="let enum of AvailabilityProduct | keyvalue" [value]="enum.value">{{ enum.value }}</mat-option>
        </mat-select>
        </mat-form-field>
      </div>
  </th>
    <td mat-cell *matCellDef="let row"> {{ row.availability }} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <!-- <div *ngIf="role$ | ngrxPush as role" class="color-btn-txt hidden-customer" [class.hidden-customer]="role === 'customer'" > -->
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let row">
      <div class="wrap-del-icon">
      <mat-icon class="remove-product" (click)="removeProduct($event, row)">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7 5V4C7 2.89543 7.89543 2 9 2H15C16.1046 2 17 2.89543 17 4V5H20C20.5523 5 21 5.44772 21 6C21 6.55228 20.5523 7 20 7H19V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V7H4C3.44772 7 3 6.55228 3 6C3 5.44772 3.44772 5 4 5H7ZM9 4H15V5H9V4ZM7 7H17V18C17 18.5523 16.5523 19 16 19H8C7.44772 19 7 18.5523 7 18V7Z" fill="#818181"/>
          <path d="M15 9H13V17H15V9Z" fill="#818181"/>
          <path d="M11 9H9V17H11V9Z" fill="#818181"/>
        </svg>
      </mat-icon>
    </div>
    </td>
  <!-- </div> -->
  </ng-container>
  <!-- columnsToDisplayForRoleCustomer -->
  <tr mat-header-row *matHeaderRowDef="role === 'customer'? columnsToDisplayForRoleCustomer : columnsToDisplay"></tr>

  <tr mat-row *matRowDef="let row; columns: role === 'customer'? columnsToDisplayForRoleCustomer : columnsToDisplay"></tr>

  <tr width="100%" class="mat-row-no-data" *matNoDataRow>
    <td top="50%" width="100%" class="mat-cell no-data-cell" colspan="9">
      <div *ngIf="isLoading | ngrxPush; else loader" class="no-data-container">
        <h4>No Data to Display</h4>
        <p>Seems like you don’t have any<br>
          product yet. Let’s create it now!
        </p>
        <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="88" height="88" rx="44" fill="#C5DCFA" fill-opacity="0.5" />
          <svg preserveAspectRatio="xMidYMid meet" viewBox="-19 -1 90 60" width="100%" height="100%">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M0.333252 8.3335C0.333252 3.91522 3.91497 0.333496 8.33325 0.333496H45.6666C50.0849 0.333496 53.6666 3.91522 53.6666 8.3335V48.3335C53.6666 51.279 51.2788 53.6668 48.3333 53.6668H16.7271C16.5971 53.6763 16.4657 53.6812 16.3333 53.6812H5.66659C2.72107 53.6812 0.333252 51.2933 0.333252 48.3478V8.3335ZM8.33325 5.66683H45.6666C47.1393 5.66683 48.3333 6.86074 48.3333 8.3335V32.3335H37.6666C34.7211 32.3335 32.3333 34.7213 32.3333 37.6668V40.3335H21.6666V37.6812C21.6666 34.7356 19.2788 32.3478 16.3333 32.3478H5.66659V8.3335C5.66659 6.86074 6.86049 5.66683 8.33325 5.66683Z"
              fill="#1672EC" />
          </svg>
        </svg>

      </div>
    </td>
  </tr>

</table>
<mat-paginator class="container-paginator" showFirstLastButtons
[pageSize]="5"
[pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<ng-template #addProductModal>
  <app-modal-container (btn)="btnModalEmit()" title="Add Product" btnText=" + Add Product">
    <app-add-product-form [submitFormAddProduct]="$strm" ></app-add-product-form>
  </app-modal-container>
</ng-template>

<ng-template #replaceCatalogModal>
  <app-modal-container (btn)="btnModalEmit()" title="Replace Catalog" btnText=" &#10004; Replace Catalog">
    <app-replace-catalog [submitFormAddProduct]="$strm" ></app-replace-catalog>
  </app-modal-container>
</ng-template>

<ng-template #editProductModal let-data>
  <app-modal-container (btn)="btnModalEmit()" title="Edit Product" btnText="Save Product">
    <app-edit-product-form [rowData]="data.row" [submitForm]="$strm" ></app-edit-product-form>
  </app-modal-container>
</ng-template>


<ng-template #loader> <mat-spinner class="spinner-container"></mat-spinner> </ng-template>
